body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #efeae3; /* Soft beige background */
    color: #a62a2a; /* Dark red text */
    padding: 5px 20px; /* Padding for the header */
    z-index: 10; /* Ensure header is above other elements */
    display: flex; /* Use flexbox for horizontal layout */
    flex-direction: row; /* Horizontal alignment */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Ensure nav takes full width */
    gap: 5px; /* Add gap between logo and title */
}
header nav a {
    color: #a62a2a;
    margin: 0 10px;
    text-decoration: none;
}

.filter-section {
    padding: 20px;
    text-align: center;
}

.filter-section label {
    margin-right: 10px;
}

.astrologer-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.astrologer-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.astrologer-card img {
    width: 100%;
    border-radius: 50%;
}

button {
    background-color: #a62a2a;
    color: #efeae3;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #700909;
}
